:root {
  --accent: #048c34;
}

body {
  font-family: var(--font-commit-mono);
}

a {
  color: inherit;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition: all 150ms ease-out;
}

a:visited {
  color: inherit;
}

a:hover {
  color: var(--accent);
  font-weight: 900;
  text-decoration-color: var(--accent);
}
